# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.env

# Jupyter Notebook
.ipynb_checkpoints

# Data files
*.csv
*.xlsx

# Logs
*.log

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
